/* Add your CSS here. Utilize Tailwind classes or write custom styles to bring your unique design to life. */
body {
  font-family: "Roboto Flex", serif;
}

.container {
  margin: 0 auto;
  width: 512px;
  height: 755px;
  background-color: #fff;
  border-radius: 64px;
  position: relative;
  display: flex;
  align-items: center;
}

.bg-primary,
.bg-secondary,
.bg-tertiary {
  position: absolute;
  width: 100%;
  height: 190px;
  top: 0;
}

.bg-primary {
  height: 200px;
  width: 100%;
  background-color: #a2345c;
}

.bg-secondary {
  height: 210px;
  width: 100%;
  background-color: #a2345c;
}

.bg-tertiary {
  height: 220px;
  width: 100%;
  background-color: #a2345c;
}
header {
  position: relative;
  height: 190px;
}

.profile-photo-container {
  width: 170px; /* Adjust as needed */
  height: 170px; /* Must be equal to width for a perfect circle */
  border-radius: 50%; /* This is the key */
  overflow: hidden; /* Ensures the image stays within the circle */
  position: absolute;
  top: 0;
  z-index: 3;
}
.profile-photo {
  width: 85%;
  height: auto;
  border-radius: 50%;
  object-fit: cover;
  margin-top: 20px;
  margin-left: 20px;
}

/* first curve */
.custom-shape-divider-top-1735701813 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  z-index: 2;
  border-bottom-left-radius: 64px;
  border-bottom-right-radius: 64px;
}

.custom-shape-divider-top-1735701813 svg {
  position: relative;
  display: block;
  width: calc(162% + 1.3px);
  height: 200px;
}

.custom-shape-divider-top-1735701813 .shape-fill {
  fill: #a2345c;
}

/* second curve */
.custom-shape-divider-top-1735701848 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotatex(180deg);
  z-index: 1;
  border-bottom-left-radius: 64px;
  border-bottom-right-radius: 64px;
}

.custom-shape-divider-top-1735701848 svg {
  position: relative;
  display: block;
  width: calc(162% + 1.3px);
  height: 240px;
}

.custom-shape-divider-top-1735701848 .shape-fill {
  fill: #bc5473;
}

/* third curve */

.custom-shape-divider-top-1735701861 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  border-bottom-left-radius: 64px;
  border-bottom-right-radius: 64px;
}

.custom-shape-divider-top-1735701861 svg {
  position: relative;
  display: block;
  width: calc(162% + 1.3px);
  height: 260px;
}

.custom-shape-divider-top-1735701861 .shape-fill {
  fill: #df3f8c;
}

/* profile info */
.profile-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: auto;
  height: 486px;
  margin-bottom: 20px;
}

.profile-info h1 {
  margin-top: 48px;
}

.social-icons {
  width: 80%;
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.social-icons span {
  font-size: 32px;
  cursor: pointer;
}

p {
  margin-top: 40px;
  text-align: center;
}

.btn-group {
  margin-top: auto;
  display: flex;
  gap: 32px;
  margin-bottom: 40px;
}

.btn {
  padding: 10px 16px;
  border: 1px solid #838383;
  /* background-color: ; */
  width: 191px;
  height: 57px;
  border-radius: 999px;
  font-size: 1.25rem;
  text-align: center;
  color: #838383;
}

.primary {
  background-color: #df3f8c;
  color: #fff;
  border: none;
}
